@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Zen Kaku Gothic New', sans-serif;
}
body{
    display: flex;

    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url(./img/back3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
section{
    position: relative;
}
/* section::before{
    background-image: url(./img/background.jpg);
} */

.container{
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px 0;

}
.imgbox{
    size-adjust: 200px 300px;
}
.container .card{
    position: relative;
    width: 300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    margin: 30px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
}
.container .card .content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*                       ----------------->>>>>>>>>>>>>>opacity of image(card)................ */
    opacity: 0.6    ;  
    transition: 0.5s;
    
    box-shadow: rgba(0, 0, 0, rgb(0, 0, 0));

}
.container .card:hover .content{
    opacity: 1;
    transform: translateY(-10px);
}
.container .card .content .imgbox{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid rgba(0, 0, 0, 0.25);
}
.container .card .content .imgbox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content .contentbox h3{
  
     color: #fff;
     text-transform: uppercase;
     letter-spacing: 2px;
     font-weight: 700;
     font-size: 18px;
     text-align: center;
   
     margin: 20px 0 10px;
     line-height: 1.1em;
}
.container .card .content .contentbox h3:hover{
color: rgba(78, 0, 0, 0.815);
transition: ease 3s;
}

.container .card .content .contentbox h3 span{
    font-size: 12px;
    font-weight: 300;
    /* letter-spacing:1px; */
    text-transform: initial;
}
.container .card .sci{
    position: absolute;
    bottom: 20px;
    display: flex;
}
.container .card .sci li{
    list-style: none;
    margin:     0 10px;
    transform: translateY(30px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.09s * var(--i))
}
.container .card:hover .sci li{
    transform: translateY(0px);
    opacity: 1;
    
}
.container .card .sci li a:hover{
      
    color: rgba(0, 255, 255, 0.678) ;
    transition: 1.5s ease;
    
}
.container .card .sci li a{
    color: #fff;
    font-size: 2rem;
}
/* ................................................................................................................... */






